@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

.anchor {
  @apply invisible absolute -ms-8 w-full max-w-3xl text-muted-foreground no-underline md:inline-block;
}
.anchor:hover {
  @apply visible;
}
.prose *:hover > .anchor {
  @apply visible;
}

.prose > :first-child > h1 {
  @apply mb-4;
}

.prose > h2:first-of-type {
  margin-top: 0;
}

.shadow-effect {
  position: relative;
}
.shadow-effect::after {
  content: "";
  @apply pointer-events-none absolute right-0 bottom-0 block h-6 w-3/5 bg-gradient-to-r from-transparent to-background group-hover:to-accent
}

.nav-anchor::after {
    content: "";
    transition: inset 180ms;
    @apply pointer-events-none absolute -z-10 border-x-2 border-foreground rounded
}

@supports(anchor-name: --anchor) {
    .nav-anchor::after {
        position-anchor: var(--anchor, toc-0);
        inset: anchor(top) anchor(right) anchor(bottom) anchor(left);
    }
}


#flashlight {
  --Xpos: 0;
  --Ypos: 0;
}

#flashlight:before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  background: radial-gradient(
          circle 12em at var(--Xpos) var(--Ypos),
          transparent 50%,
          currentColor
  );
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
  display: block;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .wrapper {
    @apply mx-auto w-full max-w-3xl px-6 xl:px-0;
  }

  .link {
    @apply underline-offset-4 hover:underline;
  }

  .theme-icon {
    @apply h-6 w-6;
  }
}
