@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .wrapper {
    @apply mx-auto w-full max-w-3xl px-6 xl:px-0;
  }

  .link {
    @apply underline-offset-4 hover:underline;
  }

  .theme-icon {
    @apply h-6 w-6;
  }

  .shadow-effect::after {
    @apply content-[''] pointer-events-none absolute right-0 bottom-0 block h-6 w-3/5 bg-gradient-to-r from-transparent to-background group-hover:to-accent
  }
}

.anchor {
  @apply invisible absolute -ms-8 w-full max-w-3xl text-muted-foreground no-underline md:inline-block hover:visible;
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose > :first-child > h1 {
  @apply mb-4;
}

.prose > h2:first-of-type {
  @apply mt-0
}

.prose {
  pre {
    @apply overflow-x-auto py-4 px-0;
  }

  pre [data-line] {
    @apply py-0 px-4;
  }

  pre[data-theme*=' '],
  pre[data-theme*=' '] span {
    @apply text-[--shiki-light] bg-[--shiki-light-bg];
  }
}

.dark .prose {
  pre[data-theme*=' '],
  pre[data-theme*=' '] span {
    @apply text-[--shiki-dark] bg-[--shiki-dark-bg];
  }
}

.flashlight {
  @apply fixed top-0 left-0 w-[30rem] h-[30rem] z-30 pointer-events-none outline-[9999px] outline-current outline;
  background: radial-gradient(transparent 35%, currentColor 65%);
  translate:
      calc(var(--x) - 50%)
      calc(var(--y) - 50%);
}

@supports (anchor-name: --a) {
  .toc-anchor::after {
    @apply pointer-events-none absolute -z-10 border-l-2 border-foreground content-[''];
    transition: inset 1.8s;
    position-anchor: var(--anchor);
    inset: anchor(top) anchor(right) anchor(bottom) anchor(left);
  }

  .nav-anchor:not([anchor='']) {
    --active: 1;
  }

  .nav-anchor::after {
    @apply content-[''] fixed pointer-events-none -z-10 border-b-2 border-b-current opacity-[--active,0];
    position-anchor: var(--anchor);
    left: calc(anchor(left) + 1.25rem);
    top: anchor(top);
    width: calc(anchor-size(width) - 2.5rem);
    height: anchor-size(height);
    transition: all 0.18s allow-discrete;
  }
}

::view-transition-new(root),
::view-transition-old(root) {
  @apply animate-none mix-blend-normal block;
}